{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.pedestal/pedestal.service {:mvn/version "0.5.10"}
        io.pedestal/pedestal.jetty {:mvn/version "0.5.10"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.10"
                                        :exclusions [org.slf4j/slf4j-api]}
        org.slf4j/jul-to-slf4j {:mvn/version "1.7.35"}
        org.slf4j/jcl-over-slf4j {:mvn/version "1.7.35"}
        org.slf4j/log4j-over-slf4j {:mvn/version "1.7.35"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        ch.hsr/geohash {:mvn/version "1.4.0"}
        metosin/malli {:mvn/version "0.8.9"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        org.clojure/tools.cli {:mvn/version "1.0.214"}}
 :aliases
 {:run-m {:main-opts ["-m" "dev.lhrb.geochat"]}
  :run-x {:ns-default dev.lhrb.geochat
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.6.3" :git/sha "9b8e09b"
                  ;; since we're building an app uberjar, we do not
                  ;; need deps-deploy for clojars.org deployment:
                  :deps/root "slim"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
